<!-- Sample API Execution Modal -->
<div class="modal fade" id="analyzeModal" tabindex="-1" role="dialog" aria-labelledby="analyzeDisplayModal" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" data-ng-show="!twitter.analyzing">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"  id="analyzeModalLabel">Analyzation Results</h4>
            </div>
            <div class="modal-body">
                <div class="row" data-ng-show="twitter.results">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Results</h3>
                            </div>
                        </div>
                        <div class="row dashedborder wordbreak"  data-ng-repeat="result in twitter.results">
                            <div class="col-md-12">
                                <div class="row" data-ng-class="{positive: result.nlp.sentiment === 'Positive', negative: result.nlp.sentiment === 'Negative'}">
                                    <div class="col-md-3 col-xs-3">
                                        ~~result.tweet.user~~
                                    </div>
                                    <div class="col-md-7 col-xs-7">
                                        ~~result.tweet.text~~
                                    </div>
                                    <div class="col-md-2 col-xs-2" data-ng-switch data-on="result.full">
                                        <button class="btn btn-danger btn-sm" data-ng-switch-when="1" data-ng-click="result.full = 0">Close</button>
                                        <button class="btn btn-primary btn-sm" data-ng-switch-default data-ng-click="result.full = 1">Full Result</button>
                                    </div>
                                </div>
                                <div class="row" data-ng-show="result.full">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>Sentences</h4>
                                                <div class="row" data-ng-repeat="sentence in result.nlp.sentences track by $index">
                                                    <div class="col-md-6 col-xs-6">
                                                        Sentence ~~sentence.id~~
                                                    </div>
                                                    <div class="col-md-6 col-xs-6" data-ng-class="{positive: sentence.sentiment === 'Positive', negative: sentence.sentiment === 'Negative'}">
                                                        ~~sentence.sentiment~~
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
        <div data-ng-show="twitter.analyzing">
            <img src="/img/loading.gif" alt="loading" />
        </div>
    </div>
</div>